<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> StarWars Icons </ion-title>
    <ion-button color="dark" slot="start">
      <ion-menu-button
        color="light"
        slot="start"
        menu="main-menu"
      ></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of starwars" [routerLink]="[item.name]">
      <ion-label class="ion-text-wrap">
        <h3>{{ item.name }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
